<!-- prettier-ignore -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Pompeii</title>
		<link rel="icon" type="image/x-icon" href="../static/images/volcano_favicon.png" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Cinzel:wght@700&family=UnifrakturMaguntia&display=swap" rel="stylesheet" />
	</head>

	<body>
		<div class="container-col">{{template "content" .}}</div>
	</body>
</html>
