{{define "content"}}
<link rel="stylesheet" href="/pompeii/static/css/game_settings.css" />

<div class="buttons-container">
  <a href="/pompeii/index"><button class="button1">Go Back</button></a>
</div>

<div class="subtitle-wrap">
  <h1 class="subtitle">Game Settings</h1>
</div>

<div class="flexbox-grid">
  <div id="game-settings-container">
    <form id="game-settings-form" action="/pompeii/load_game" method="POST">
      <div class="dropdown">
        <label class="form-label" for="vocab-list-form">Vocab List:</label>
        <button type="button" id="vocab-list-form" class="dropdown-button" onclick="toggleDropdown()">Select Vocab
          List:</button>
        <div id="dropdownContent" class="dropdown-content">
          <label><input type="checkbox" name="vocab-list" value="Latin IGCSE">Latin IGCSE</input></label>
          <label><input type="checkbox" name="vocab-list" value="Latin GCSE DVL">Latin GCSE DVL</input></label>
          <label><input type="checkbox" name="vocab-list" value="Spanish Ab Initio - Ropa">Spanish AI -
            Ropa</input></label>
          <label><input type="checkbox" name="vocab-list" value="Spanish Ab Initio - Atributos Personales">Spanish AI -
            Atributos Personales</input></label>
          <label><input type="checkbox" name="vocab-list" value="Spanish Ab Initio - Vocabulary Foto">Spanish AI -
            Vocabulary Foto</input></label>
        </div>
      </div>

      <div>
        <label class="form-label" for="difficulty-mode-form">Difficulty:</label>
        <select id="difficulty-mode-form" name="difficulty-mode">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <div>
        <label class="form-label" for="classic-mode-form">
          <tip title="Classic mode is the basic vocabulary tester mode">Classic Mode:</tip>
        </label>

        <input type="checkbox" id="classic-mode-form" name="classic-mode" value="true" />
      </div>

      <div>
        <label class="form-label" for="num-questions-form">Number of Questions:</label>
        <input type="number" id="num-questions-form" name="num-questions" value="10" min="1" required />
      </div>

      <div>
        <button class="button1" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script>
  const classicModeForm = document.getElementById("classic-mode-form");
  const difficultyModeForm = document.getElementById("difficulty-mode-form");
  const numQuestionsForm = document.getElementById("num-questions-form");

  // runs on page load
  difficultyModeForm.disabled = classicModeForm.checked;
  numQuestionsForm.disabled = !classicModeForm.checked;

  classicModeForm.addEventListener("change", function () {
    difficultyModeForm.disabled = classicModeForm.checked;
    numQuestionsForm.disabled = !classicModeForm.checked;
  });

  document.getElementById("game-settings-form").addEventListener("submit", function (event) {
    if (document.querySelectorAll("input[name='vocab-list']:checked").length == 0) {
      alert("Place check at least one vocab list before submitting.");
      event.preventDefault();
    }
  }); 
</script>

<script type="module">
  import {toggleDropdown} from "/pompeii/static/js/dropdown_checkbox.js";
  window.toggleDropdown = toggleDropdown;
</script>

{{end}}
